.git
.env
.env.*
!.env.example
node_modules/
vendor/
backend/node_modules/
backend/vendor/
backend/storage/app/public/*
backend/storage/logs/*.log
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*.php
backend/public/storage
backend/public/upload/*
frontend/node_modules/
frontend/dist/
docker-data/
mysql/
db-data/
*.zip
*.tar.gz
*.log
.phpunit.result.cache
