APP_NAME="ATTAQWA"
APP_ENV=local
APP_KEY=base64:ol9oiWjxfxUpxDvai3+Sb65t3V8fiNd3slXso8ovi0A=
APP_DEBUG=true
APP_URL=http://localhost
ASSET_URL=http://localhost
APP_PORT=80
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

PHP_CLI_SERVER_WORKERS=4
BCRYPT_ROUNDS=12

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=coop_attaqwa
DB_USERNAME=sail_attaqwa
DB_PASSWORD=pass_attaqwa

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=public
QUEUE_CONNECTION=redis
FILAMENT_FILESYSTEM_DISK=public
CACHE_STORE=database
APP_SERVICE_BIND_ADDR=0.0.0.0

REDIS_CLIENT=redis
REDIS_HOST=attaqwa-redis
REDIS_PASSWORD=ANIbaba1122?
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_FROM_ADDRESS="team@attaqwacooposg.com"
MAIL_FROM_NAME="${APP_NAME}"

# Paystack configuration (Test keys)
PAYSTACK_PUBLIC_KEY=pk_test_4d1ffe456b53fb7f1118136a428d27970028d083
PAYSTACK_SECRET_KEY=sk_test_98c8350f40ff728f68b0bf3ca67cfb1ff1f38eea
PAYSTACK_WEBHOOK_URL=http://localhost/api/webhooks/paystack

# Ngrok (optional, for local webhook testing)
NGROK_AUTHTOKEN=
FORWARD_NGROK_INSPECT_PORT=4040

# Docker Host Ports
FRONTEND_PORT=5174
VITE_PORT=5173
FORWARD_DB_PORT=33060
FORWARD_REDIS_PORT=63790
FORWARD_PMA_PORT=8081
FORWARD_MAILPIT_PORT=1025
FORWARD_MAILPIT_DASHBOARD_PORT=8025
PHP_VERSION=8.4

# Reverb settings
REVERB_APP_ID=attaqwa-app
REVERB_APP_KEY=6743b3a35c947fca48cea84e18d38c5f
REVERB_APP_SECRET=3f9095aecd417d3fa2285e750bb0536572cb9c6214205cc46210b2141b73f5aa
REVERB_HOST=reverb
REVERB_PORT=8080
REVERB_SCHEME=http
REVERB_ALLOWED_ORIGINS=*

# Frontend Reverb connection
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="localhost"
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http

# SMS notifications
SMS_ENABLED=false
SMS_DRIVER=log

# Push notifications
PUSH_ENABLED=false
PUSH_DRIVER=log
